**/cmake-build-debug/
**/.DS_Store
**/.texpadtmp
*.aux
**/*.run.xml
**/*.aux
**/*.out
**/*.blg
**/*.bcf
**/*.bbl
**/*.
**/*.
**/.idea/
**/.vscode/
07/security/**/data/*enc*
07/security/**/data/*dec*
07/testing/
07/web/
07/research/megaopros
09/ds
09/ds/**
09/ai
**/*.signed
**/*.huffman
**/fyne-cross
**/code/Icon.png